<!DOCTYPE html>

<div id="contact">

  <div class="head background white" style="background-image: url(res/images/3.jpg">

    <div>

      <hr>

      <p class="head-title">
        KONTAKT
      </p>

      <hr>

    </div>

  </div>

  <div class="content">

    <div id="contact-office">

      <div class="contact-office-city r" ng-click="goto('maps.app.goo.gl/tnBEtWcZ9gnjurLPA')">
        <iframe width="255" height="266" id="gmap_canvas" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2131.8740426375034!2d11.998142676626054!3d57.70160974023236!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x464ff38496956171%3A0xdffc87cb0fccf039!2sDanska%20v%C3%A4gen%2020%2C%20412%2066%20G%C3%B6teborg!5e0!3m2!1ssv!2sse!4v1707231849832!5m2!1ssv!2sse" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" allowfullscreen></iframe>
        <p class="contact-office-name"><span class="bold">Göteborg</span></p>
        <div class="contact-office-number">
          <i class="ion-ios-telephone"></i> 031-708 07 60
        </div>
        <div class="contact-office-number">
          <i class="ion-ios-printer"></i> 031-708 97 60
        </div>
      </div>

      <div class="contact-office-city r" ng-click="goto('maps.app.goo.gl/GDiaxiH51QYUDLiKA')">
        
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2130.6905355675244!2d12.934436476627395!3d57.721714238649845!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465aa0ad7d40688d%3A0xda8bcc15f1c12ae3!2sV%C3%A4sterbrogatan%208A%2C%20503%2030%20Bor%C3%A5s!5e0!3m2!1ssv!2sse!4v1707232106708!5m2!1ssv!2sse" width="266" height="266" frameborder="0" style="border:0" allowfullscreen></iframe>
        <p class="contact-office-name"><span class="bold">Borås</span></p>
        <div class="contact-office-number">
          <i class="ion-ios-telephone"></i> 033-48 01 80
        </div>
        <div class="contact-office-number">
          <i class="ion-ios-printer"></i> 031-708 97 60
        </div>
      </div>

      <div class="contact-office-city r" ng-click="goto('maps.app.goo.gl/ZecRd4jEek8qTjjs6')">
        
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2118.653594126451!2d12.526257076641187!3d57.92593632255508!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4645527d58c4467d%3A0x3d57121438203878!2zR8O2dGVib3Jnc3bDpGdlbiAxNCwgNDQxIDMyIEFsaW5nc8Olcw!5e0!3m2!1ssv!2sse!4v1707232341058!5m2!1ssv!2sse" width="266" height="266" frameborder="0" style="border:0" allowfullscreen></iframe>
        <p class="contact-office-name"><span class="bold">Alingsås</span></p>
        <div class="contact-office-number">
          <i class="ion-ios-telephone"></i> 033-48 01 80
        </div>
        <div class="contact-office-number">
          <i class="ion-ios-printer"></i> 031-708 97 60
        </div>
      </div>

    </div>

  </div>

</div>
