<!DOCTYPE html>

<div id="coworkers">

  <div class="head background white" style="background-image: url(res/images/2.jpg)">

    <div>

      <hr>

      <p class="head-title">
        MEDARBETARE
      </p>

      <hr>

    </div>

  </div>

  <div class="content">

    <div id="about-people">

      <div class="about-people-person r">
        <img src="res/people/tommy.jpg" alt="" />
        <p class="about-people-name"><span class="bold">Tommy Petrov</span></p>
        <p class="about-people-title">Advokat</p>
        <div class="contact-office-number">
          <i class="ion-ios-email"></i> tommy.petrov@advokaternapu.se
        </div>
        <div class="contact-office-number">
          <i class="ion-ios-telephone"></i> 031-708 07 60
        </div>
      </div>

      <div class="about-people-person r">
        <img src="res/people/robert.jpg" alt="" />
        <p class="about-people-name"><span class="bold">Robert Utberg</span></p>
        <p class="about-people-title">Advokat</p>
        <div class="contact-office-number">
          <i class="ion-ios-email"></i> robert.utberg@advokaternapu.se
        </div>
        <div class="contact-office-number">
          <i class="ion-ios-telephone"></i> 031-708 07 60
        </div>
        <div class="contact-office-number">
          <i class="ion-ios-telephone"></i> 0708-17 68 71
        </div>
      </div>

      <div class="about-people-person r">
        <img src="res/people/william.jpg" alt="" />
        <p class="about-people-name"><span class="bold">William Yuksel</span></p>
        <p class="about-people-title">Jur. Kand.</p>
        <div class="contact-office-number">
          <i class="ion-ios-email"></i> william.yuksel@advokaternapu.se
        </div>
        <div class="contact-office-number">
          <i class="ion-ios-telephone"></i> 031-708 07 60
        </div>
        <div class="contact-office-number">
          <i class="ion-ios-telephone"></i> 0702-94 50 82
        </div>
      </div>

      <div class="about-people-person r">
        <img src="res/people/markus.jpg" alt="" />
        <p class="about-people-name"><span class="bold">Markus Abrahamsson</span></p>
        <p class="about-people-title">Jur. Kand.</p>
        <div class="contact-office-number">
          <i class="ion-ios-email"></i> markus.abrahamsson@advokaternapu.se
        </div>
        <div class="contact-office-number">
          <i class="ion-ios-telephone"></i> 031-708 07 60
        </div>
        <div class="contact-office-number">
          <i class="ion-ios-telephone"></i> 0761-41 39 19
        </div>
      </div>

      <div class="about-people-person r">
        <img src="res/people/maggan.jpg" alt="" />
        <p class="about-people-name"><span class="bold">Margareta Petrov</span></p>
        <p class="about-people-title">Sekreterare</p>
        <div class="contact-office-number">
          <i class="ion-ios-email"></i> info@advokaternapu.se
        </div>
        <div class="contact-office-number">
          <i class="ion-ios-telephone"></i> 031-708 07 60
        </div>
      </div>

      <div class="about-people-person r">
        <img src="res/people/bacon.jpg" alt="" />
        <p class="about-people-name"><span class="bold">Bacon</span></p>
        <p class="about-people-title">Säkerhetsansvarig</p>
        <p class="about-people-title"></p>
      </div>

    </div>


  </div>

</div>
