<!DOCTYPE html>

<div id="information">

  <div class="head">

    <div>

      <hr>

      <p class="head-title">
        OM OSS
      </p>

      <hr>

    </div>

  </div>

  <div class="content">

    <p>Vårt mål är att hjälpa dig som klient på bästa sätt. Oavsett om du har ett juridiskt problem som behöver lösas eller en juridisk fråga som behöver besvaras ger vi dig som klient alltid en professionell bedömning baserad på mångårig och bred erfarenhet inom advokatyrket.
    </p>
    <p>Vi arbetar med bl a brottmål, tvistemål samt migrationsrätt.
    </p>
    <p>Du som klient står <u>alltid</u> i centrum och vi utgår <u>alltid</u> från klientens bästa. Behöver du professionell advokathjälp kontakta Advokatfirman Petrov.
    </p>

  </div>


</div>


<!--
<canvas id="doughnut" class="chart chart-doughnut" chart-dataset-override="datasetOverride" >
</canvas>
-->
