<!DOCTYPE html>

<div id="navigation" data-ng-init="resize()">


  <div id="navigation-bar" ng-class="{'navigation-white': down == true || expand == true}">

    <div id="navigation-logo">

      <img ng-show="down" src="res/logo2.svg"/>

    </div>

    <div ng-if="!mobile" id="navigation-menu">
      <div class="navigation-menu-button thin" ng-click="goto('information')" ng-class="{'bold': state == 'gallery'}">OM OSS</div>
      <div class="navigation-menu-spacer gray">&nbsp;|&nbsp;</div>
      <div class="navigation-menu-button thin" ng-click="goto('contact')" ng-class="{'bold': state == 'gallery'}">KONTAKT</div>
      <div class="navigation-menu-spacer gray">&nbsp;|&nbsp;</div>
      <div class="navigation-menu-button thin" ng-click="goto('coworkers')" ng-class="{'bold': state == 'gallery'}">MEDARBETARE</div>
    </div>

    <i ng-if="mobile" ng-click="click()" class="ion-navicon" ng-class="{'ion-navicon': !expand, 'ion-android-close': expand}"> </i>

  </div>

  <div id="navigation-menu-mobile" ng-if="expand" class="navigation-white">

    <div class="navigation-menu-mobile-button" ng-click="goto('information')">OM OSS</div>
    <div class="navigation-menu-mobile-button" ng-click="goto('contact')">KONTAKT</div>
    <div class="navigation-menu-mobile-button" ng-click="goto('coworkers')">MEDARBETARE</div>

  </div>

</div>
